html, body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	font-family: TymaGaramont-Regular;
	line-height: normal;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: .4px;
	background-color: #fefefe;
	color: #020202;
}

a {
	color: #020202;
	text-decoration: none;
}

a:hover {
	color: #D94409;
}

.header {
	width: 80%;
	height: 45px;
	background-color: #020202;
}

.title {
	margin: 0 auto;
	margin-top: 50px;
	font-size: 32px;
	width: 80%;
	letter-spacing: .8px;
	line-height: 1.2;
}

.submit {
	margin-top: 75px;
	text-align: center;
}

.submit p {
	display: inline-block;
	margin: 0 auto;
	font-family: helvetica;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1.8px;
	padding: 10px;
	border: 1px solid;
}


.footer {
	margin: 0 auto;
	margin-top: 15px;
	width: 80%;
	text-align: center;
}

.dots {
	display: block;
	margin: 0 auto;
	margin-top: 75px;
	width: 50;
}