html, body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	font-family: 'Inconsolata', monospace;
	line-height: normal;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: .4px;
	background-color: #fefefe;
	color: #020202;
}

@font-face {
    font-family: 'Maria Pro';
    src: url("../fonts/maria-webfont-webfont.eot");
    src: url("../fonts/maria-webfont-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/maria-webfont-webfont.woff") format('woff'), url("../fonts/maria-webfont-webfont.ttf") format('truetype'), url("../fonts/maria-webfont-webfont.svg#Maria Pro") format('svg');
    font-weight: 'normal';
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Maria Pro';
        src: url("../fonts/maria-webfont-webfont.svg#Maria Pro") format('svg')
    }
}

.nsTitle {
	font-family: Maria Pro;
	color: #1E2226;
	font-size: 36px;
	letter-spacing: .8px;
}
