html, body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	font-family: TymaGaramont-Regular;
	line-height: normal;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: .4px;
	background-color: #fefefe;
	color: #020202;
}

.dot {
	display: inline-block;
	text-align: center;
	margin: 3px;
	border-radius: 50%;
	width: 12px;
	height: 12px; 
	background-color: #D94409;
}

.year {
	width: 50%;
	margin: 15px auto;
	text-align: center;
}

.yearTitle {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
}

.column {

}