html, body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	font-family: Maria Pro;
	line-height: normal;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: .4px;
	background-color: #fefefe;
	color: #020202;
}

.dashboard {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.divider {
	width: 100%;
	height:10px;
	border: 1px solid #A9A9A9;
}


@font-face {
    font-family: 'Maria Pro';
    src: url("../fonts/maria-webfont-webfont.eot");
    src: url("../fonts/maria-webfont-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/maria-webfont-webfont.woff") format('woff'), url("../fonts/maria-webfont-webfont.ttf") format('truetype'), url("../fonts/maria-webfont-webfont.svg#Maria Pro") format('svg');
    font-weight: 'normal';
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Maria Pro';
        src: url("../fonts/maria-webfont-webfont.svg#Maria Pro") format('svg')
    }
}




.userName {
	margin: 25px; auto;
	padding: 5px;
	border: 1px solid #000;
	text-align: center;
	line-height: normal;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: .8px;
	background-color: #fefefe;
	color: #020202;
}

.dot {
	display: inline-block;
	text-align: center;
	margin: 16px;
	border-radius: 50%;
	width: 12px;
	height: 12px; 
}

.positive {
	background-color: #D94409;
}

.inactive {
	background-color: #BAC8D2;
}

.year {
	margin-top: 25px;
}

.dotWrapper {
	width: 75%;
	margin: 15px auto;
	text-align: center;
}

.yearTitle {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
}

.column {

}